<section class="footer">
  <div class="footer_content">
    <div class="footer_logo">
      <img src="assets/image.png" alt="Gradiweb">
      
      <div class="footer_credits">
        <div>@2024. Shuffle.store Operated by</div>
        <div>Studio Plajd. Need Help?</div>
        <div>Email support@shuflle.store</div>
      </div>
    </div>

    <div class="footer_links">
      <div class="links links_menu">
        <a href="#">Home</a>
        <a href="#">Cart</a>
        <a href="#">All Products</a>
        <a href="#">Collecions</a>
      </div>
      <div class="links links_policy">
        <a href="#">Refund Policy</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms of Service</a>
      </div>
      <div class="links links_payment">
        <span>We accept all major cards, PayPal & crypto</span>
      </div>
    </div>

    <div class="footer_social">
      <div class="social_input">
        <p>Subscribe and receive drop notifications</p>
        <div class="input_container">
          <input type="text" placeholder="Enter Email">
          <button type="submit">
            <span>&rarr;</span>
          </button>
        </div>
      </div>
      
      <div class="social_media">
        <div>FACEBOOK</div>
        <div>X(TWITTER)</div>
        <div>INSTAGRAM</div>
      </div>
    </div>
  </div>
</section>
