<section class="hero-banner">
  <div class="hero-banner_content">
    <div class="hero-banner_image">
      <img src="{{settings['hero-banner'].settings.background_image}}" alt="Shuffle Store Banner">
      <div class="hero-banner_cta">
        <a href="{{settings['hero-banner'].settings.button_link}}" class="btn btn--primary">
          {{ settings['hero-banner'].settings.button_text }}
        </a>
      </div>
    </div>
  </div>
</section>
